.hero {
    height: 500px;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-left: 75px;
    padding-right: 75px;
  }
  
  .hero * {
    position: relative;
    z-index: 2;
  }
  
  .hero h1 {
    color: white;
  }

  .hero h2 {
    color: #74838c;
    padding-bottom: 25px;
  }
  
  .hero h1 {
    font-size: 60px;
    padding-top: 140px;
    margin-top: 0;
  }
  
  /* styling buttons */

  .btn.contact-button {
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: #f69197;
  }

  .btn.projects-button {
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: #ffc4b8;
  }
  
  .btn.cv-button {
    width: 100px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: #74838c;
  }

  /* add hover affects onto butons */

  .btn.contact-button:hover {
    background-color: #f69197;
    box-shadow: 0.3em 0.3em 0 0 #5b5d70;
  }

  .btn.projects-button:hover {
    background-color: #ffc4b8;
    box-shadow: 0.3em 0.3em 0 0 #5b5d70;
  }

  .btn.cv-button:hover {
    background-color: #74838c;
    box-shadow: 0.3em 0.3em 0 0 #5b5d70;
  }
  