* {
    background-color: #282d3c;
    color: white;
}

p {
    color:white;
}


.form-title {
    padding-top: 15px;
}

.contact-title {
    width: 100%;
}

.logo-div {
    margin-left: 50px;
    margin-top: 50px;
    max-width: 400px;
    min-width: 300px;
}

.github-link {
    color: #f69197;
    text-decoration: none;
}

.github-link:hover {
    color: #ffc4b8;
}